// Define variables for your color scheme

// For example:
$red: #ea5455;
$blue: #878CFF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #878cff;
$gray: #8d93ab;
$light-gray: white;
$purple: #878cff;

.bg-purple {
  background: $purple;
  color: white;
  hr {
    border-top: 1px solid rgba(200, 200, 200, 1);
  }
}
