<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:14.9px;color:rgb(43,54,75);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:14.9px;color:rgb(43,54,75);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:13.5px;color:rgb(43,54,75);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:13.5px;color:rgb(43,54,75);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:9.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:9.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:"Liberation Sans Narrow",serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:"Liberation Sans Narrow",serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:11.4px;color:rgb(43,54,75);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:11.4px;color:rgb(43,54,75);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:11.4px;color:rgb(43,54,75);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:11.4px;color:rgb(43,54,75);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background01.jpg" width=595 height=842></div>
<div style="position:absolute;left:214.26px;top:56.00px" class="cls_002"><span class="cls_002">BAIL PROFESSIONNEL</span></div>
<div style="position:absolute;left:42.51px;top:117.62px" class="cls_004"><span class="cls_004">DESIGNATION DES PARTIES</span></div>
<div style="position:absolute;left:42.51px;top:150.90px" class="cls_003"><span class="cls_003">Le présent contrat est conclu entre les soussignés :</span></div>
<div style="position:absolute;left:42.51px;top:181.36px" class="cls_003"><span class="cls_003">D'une part,</span></div>
<div style="position:absolute;left:42.51px;top:211.81px" class="cls_003"><span class="cls_003">1. Le(s) Bailleur(s)</span></div>
<div style="position:absolute;left:42.51px;top:242.27px" class="cls_003"><span class="cls_003">Madame/Monsieur ______________________________________, né(e) le ________________ à ________________, de</span></div>
<div style="position:absolute;left:42.51px;top:263.52px" class="cls_003"><span class="cls_003">nationalité ________________, demeurant ______________________________________________________ ;</span></div>
<div style="position:absolute;left:42.51px;top:293.97px" class="cls_003"><span class="cls_003">Désigné(s) ci-après, le "Bailleur" ;</span></div>
<div style="position:absolute;left:42.51px;top:324.43px" class="cls_003"><span class="cls_003">Et, d'autre part,</span></div>
<div style="position:absolute;left:42.51px;top:354.88px" class="cls_003"><span class="cls_003">2. Le(s) Preneur(s)</span></div>
<div style="position:absolute;left:42.51px;top:385.34px" class="cls_003"><span class="cls_003">Madame/Monsieur ______________________________________, né(e) le ________________ à ________________, de</span></div>
<div style="position:absolute;left:42.51px;top:406.59px" class="cls_003"><span class="cls_003">nationalité ________________,demeuran t ______________________________________________________ ;</span></div>
<div style="position:absolute;left:42.51px;top:437.04px" class="cls_003"><span class="cls_003">désigné(s) ci-après le "Preneur".</span></div>
<div style="position:absolute;left:42.51px;top:467.50px" class="cls_003"><span class="cls_003">Le Bailleur et le Preneur étant ci-après désignés, ensemble, les "Parties".</span></div>
<div style="position:absolute;left:42.51px;top:495.12px" class="cls_004"><span class="cls_004">IL EST PREALABLEMENT EXPOSE CE QUI SUIT :</span></div>
<div style="position:absolute;left:42.51px;top:528.41px" class="cls_003"><span class="cls_003">Par les présentes, le Bailleur donne à bail professionnel, conformément aux dispositions des articles 1708 à 1778 du Code</span></div>
<div style="position:absolute;left:42.51px;top:549.65px" class="cls_003"><span class="cls_003">civil et par les articles 57 A et 57 B de la loi n°86-1290 du 23 décembre 1986 au Preneur qui accepte, les locaux ci-après</span></div>
<div style="position:absolute;left:42.51px;top:570.90px" class="cls_003"><span class="cls_003">désignés.</span></div>
<div style="position:absolute;left:42.51px;top:598.52px" class="cls_004"><span class="cls_004">CECI EXPOSE, IL A ETE ARRETE ET CONVENU CE QUI SUIT :</span></div>
<div style="position:absolute;left:42.51px;top:631.81px" class="cls_002"><span class="cls_002">ARTICLE 1 - DÉSIGNATION</span></div>
<div style="position:absolute;left:42.51px;top:665.81px" class="cls_003"><span class="cls_003">Le présent bail porte sur des locaux (les "Lieux Loués") dépendant d'un immeuble sis ________________</span></div>
<div style="position:absolute;left:42.51px;top:687.06px" class="cls_003"><span class="cls_003">______________________________, ________________ ________________, comprenant :</span></div>
<div style="position:absolute;left:42.51px;top:717.51px" class="cls_003"><span class="cls_003">________________ pièces principales, d'une superficie de ________________ m², situé à(aux) étage(s)</span></div>
<div style="position:absolute;left:42.51px;top:738.76px" class="cls_003"><span class="cls_003">n°________________ ;</span></div>
<div style="position:absolute;left:42.51px;top:769.22px" class="cls_003"><span class="cls_003">Les Lieux Loués constituent un immeuble indépendant.</span></div>
<div style="position:absolute;left:535.90px;top:804.14px" class="cls_005"><span class="cls_005">1 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:852px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background02.jpg" width=595 height=842></div>
<div style="position:absolute;left:42.51px;top:49.62px" class="cls_003"><span class="cls_003">Le Preneur déclare parfaitement connaître les Lieux Loués pour les avoir visités et examinés en vue des présentes, sans</span></div>
<div style="position:absolute;left:42.51px;top:70.87px" class="cls_003"><span class="cls_003">qu’il soit nécessaire d’en faire plus ample désignation et déclare les accepter dans l’état où ils se trouvent tels qu’ils existent,</span></div>
<div style="position:absolute;left:42.51px;top:92.12px" class="cls_003"><span class="cls_003">s’entendent et comportent avec leurs dépendances.</span></div>
<div style="position:absolute;left:42.51px;top:122.57px" class="cls_002"><span class="cls_002">ARTICLE 2 - DURÉE</span></div>
<div style="position:absolute;left:42.51px;top:156.57px" class="cls_003"><span class="cls_003">Le présent bail est consenti et accepté pour une durée de six années entières et consécutives, commençant à courir le</span></div>
<div style="position:absolute;left:42.51px;top:177.82px" class="cls_003"><span class="cls_003">________________, pour se terminer au terme de ladite durée de six ans.</span></div>
<div style="position:absolute;left:42.51px;top:208.27px" class="cls_003"><span class="cls_003">Le contrat peut être résilié par lettre recommandée avec avis de réception ou par acte d’huissier :</span></div>
<div style="position:absolute;left:70.84px;top:229.52px" class="cls_003"><span class="cls_003">Par le Preneur, à tout moment, en respectant un délai de préavis de six (6) mois ;</span></div>
<div style="position:absolute;left:70.84px;top:250.77px" class="cls_003"><span class="cls_003">Par le Bailleur, à l’expiration du Bail, en prévenant le locataire six (6) mois à l’avance.</span></div>
<div style="position:absolute;left:42.51px;top:281.22px" class="cls_003"><span class="cls_003">A défaut de congé donné dans les conditions précités, le contrat est reconduit tacitement pour la même durée.</span></div>
<div style="position:absolute;left:42.51px;top:311.68px" class="cls_002"><span class="cls_002">ARTICLE 3 - DESTINATION DES LIEUX LOUÉS</span></div>
<div style="position:absolute;left:42.51px;top:345.68px" class="cls_003"><span class="cls_003">La destination des Lieux Loués est la suivante : ____________________________________.</span></div>
<div style="position:absolute;left:42.51px;top:376.13px" class="cls_003"><span class="cls_003">Le Preneur s’oblige à utiliser les Lieux Loués conformément aux Articles 1728 et 1729 du Code Civil, honorablement et</span></div>
<div style="position:absolute;left:42.51px;top:397.38px" class="cls_003"><span class="cls_003">paisiblement conformément à la destination ci-dessus, à l’exclusion de tout autre usage et activité.</span></div>
<div style="position:absolute;left:42.51px;top:427.83px" class="cls_003"><span class="cls_003">Le Preneur déclare faire son affaire personnelle de toutes les autorisations nécessaires prescrites par la réglementation en</span></div>
<div style="position:absolute;left:42.51px;top:449.08px" class="cls_003"><span class="cls_003">vigueur ou à venir pour son activité.</span></div>
<div style="position:absolute;left:42.51px;top:479.54px" class="cls_003"><span class="cls_003">Le Preneur s'oblige également à respecter toutes les prescriptions internes de l'Immeuble.</span></div>
<div style="position:absolute;left:42.51px;top:509.99px" class="cls_002"><span class="cls_002">ARTICLE 4 - LOYER</span></div>
<div style="position:absolute;left:42.51px;top:541.16px" class="cls_004"><span class="cls_004">4.1 Fixation et exigibilité du loyer</span></div>
<div style="position:absolute;left:42.51px;top:574.44px" class="cls_003"><span class="cls_003">Le présent bail est consenti et accepté moyennant un loyer annuel hors taxes et hors charges de ________________ euros.</span></div>
<div style="position:absolute;left:42.51px;top:604.90px" class="cls_003"><span class="cls_003">Le Preneur s’oblige à payer mensuellement, au domicile du Bailleur ou de son mandataire, le loyer d’avance le 1er de</span></div>
<div style="position:absolute;left:42.51px;top:626.15px" class="cls_003"><span class="cls_003">chaque mois.</span></div>
<div style="position:absolute;left:42.51px;top:656.60px" class="cls_003"><span class="cls_003">Le loyer sera exigible pour la première fois le jour de la prise d’effet du bail, le premier terme étant calculé prorata temporis</span></div>
<div style="position:absolute;left:42.51px;top:677.85px" class="cls_003"><span class="cls_003">en fonction du temps restant à courir jusqu’à la fin de la période considérée.</span></div>
<div style="position:absolute;left:42.51px;top:708.31px" class="cls_003"><span class="cls_003">Dans l'hypothèse où il viendrait à être soumis à une taxe (TVA ou CRL ou taxe de substitution ou complémentaire) quelle</span></div>
<div style="position:absolute;left:42.51px;top:729.55px" class="cls_003"><span class="cls_003">qu'en soit la cause et la nature, le Preneur supportera la charge de cette taxation, soit directement, soit en remboursant</span></div>
<div style="position:absolute;left:42.51px;top:750.80px" class="cls_003"><span class="cls_003">auprès du Bailleur le montant que celui-ci aura réglé, ce à quoi le Preneur s'oblige expressément.</span></div>
<div style="position:absolute;left:535.90px;top:804.14px" class="cls_005"><span class="cls_005">2 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:1704px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background03.jpg" width=595 height=842></div>
<div style="position:absolute;left:42.51px;top:53.16px" class="cls_004"><span class="cls_004">4.2 Indexation du loyer</span></div>
<div style="position:absolute;left:42.51px;top:86.45px" class="cls_003"><span class="cls_003">Le loyer sera révisable en fonction des variations de l’indice des loyers l’indice des loyers des activités tertiaires (ILAT) publié</span></div>
<div style="position:absolute;left:42.51px;top:107.70px" class="cls_003"><span class="cls_003">par l’I.N.S.E.E.</span></div>
<div style="position:absolute;left:42.51px;top:138.16px" class="cls_003"><span class="cls_003">Il sera automatiquement ajusté chaque année à la date anniversaire du bail dans le même sens et dans la même proportion</span></div>
<div style="position:absolute;left:42.51px;top:159.40px" class="cls_003"><span class="cls_003">que la variation de l’indice des loyers des activités tertiaires (ILAT) publié par l’I.N.S.E.E constatée par rapport à l’année</span></div>
<div style="position:absolute;left:42.51px;top:180.65px" class="cls_003"><span class="cls_003">précédente.</span></div>
<div style="position:absolute;left:42.51px;top:211.11px" class="cls_003"><span class="cls_003">L’indice ILAT de référence, lors de la prise d’effet du bail, est le dernier indice publié lors de la signature des présentes.</span></div>
<div style="position:absolute;left:42.51px;top:241.56px" class="cls_003"><span class="cls_003">La révision de ce loyer fixe interviendra de plein droit sans aucune formalité ou demande préalable.</span></div>
<div style="position:absolute;left:42.51px;top:272.02px" class="cls_002"><span class="cls_002">ARTICLE 4 BIS - DÉPÔT DE GARANTIE</span></div>
<div style="position:absolute;left:42.51px;top:306.01px" class="cls_003"><span class="cls_003">Le Preneur verse au Bailleur, ce jour, à titre de dépôt de garantie, une somme de ________________ euros, correspondant</span></div>
<div style="position:absolute;left:42.51px;top:327.26px" class="cls_003"><span class="cls_003">à ________________ mois, hors taxes et hors charges, du loyer du présent bail.</span></div>
<div style="position:absolute;left:42.51px;top:357.72px" class="cls_003"><span class="cls_003">En cas de variation du loyer, le montant du dépôt de garantie sera modifié dans les mêmes proportions.</span></div>
<div style="position:absolute;left:42.51px;top:388.17px" class="cls_003"><span class="cls_003">Ce dépôt de garantie non productif d'intérêts, est destiné à assurer au Bailleur le bon paiement des réparations locatives</span></div>
<div style="position:absolute;left:42.51px;top:409.42px" class="cls_003"><span class="cls_003">arrêtées amiablement ou judiciairement en fin de bail, ainsi que de toutes autres sommes qui pourraient alors être dues par</span></div>
<div style="position:absolute;left:42.51px;top:430.67px" class="cls_003"><span class="cls_003">le Preneur à titre de loyer, charges, impôts remboursables et tous accessoires, ou au paiement des indemnités d’occupation</span></div>
<div style="position:absolute;left:42.51px;top:451.91px" class="cls_003"><span class="cls_003">pouvant être dues par le Preneur et jusqu'à la remise des clés.</span></div>
<div style="position:absolute;left:42.51px;top:482.37px" class="cls_003"><span class="cls_003">Il sera remboursé au Preneur dans les trois mois de la fin du bail ou de la remise des clés si celle-ci est postérieure à la fin</span></div>
<div style="position:absolute;left:42.51px;top:503.62px" class="cls_003"><span class="cls_003">du bail, après déduction de toutes les sommes dont il est destiné à garantir le paiement. En aucun cas, le Preneur ne sera en</span></div>
<div style="position:absolute;left:42.51px;top:524.87px" class="cls_003"><span class="cls_003">droit de compenser le dernier terme de loyer et charges avec le dépôt de garantie.</span></div>
<div style="position:absolute;left:42.51px;top:555.32px" class="cls_002"><span class="cls_002">ARTICLE 5 - IMPÔTS ET CHARGES</span></div>
<div style="position:absolute;left:42.51px;top:589.32px" class="cls_003"><span class="cls_003">5.1 Le Preneur doit satisfaire à toutes les charges de ville et de police dont les locataires sont ordinairement tenus et</span></div>
<div style="position:absolute;left:42.51px;top:610.57px" class="cls_003"><span class="cls_003">acquitter les contributions et taxes personnelles de toute nature de manière que le Bailleur ne soit jamais inquiété ni</span></div>
<div style="position:absolute;left:42.51px;top:631.81px" class="cls_003"><span class="cls_003">recherché à ce sujet.</span></div>
<div style="position:absolute;left:42.51px;top:662.27px" class="cls_003"><span class="cls_003">5.2 Le Preneur devra rembourser au Bailleur, en sus du loyer, sa quote-part calculée au prorata des surfaces exploitées dans</span></div>
<div style="position:absolute;left:42.51px;top:683.52px" class="cls_003"><span class="cls_003">l’Immeuble (le cas échéant, si applicable, au prorata des tantièmes de copropriété), des charges, prestations, taxes et</span></div>
<div style="position:absolute;left:42.51px;top:704.76px" class="cls_003"><span class="cls_003">dépenses de toutes natures exposées par le Bailleur, directement ou indirectement, du fait de la propriété, du fonctionnement</span></div>
<div style="position:absolute;left:42.51px;top:726.01px" class="cls_003"><span class="cls_003">ou de l'entretien de l’Immeuble selon la répartition suivante.</span></div>
<div style="position:absolute;left:53.13px;top:755.05px" class="cls_006"><span class="cls_006">5.2.1 A la charge du Preneur</span></div>
<div style="position:absolute;left:535.90px;top:804.14px" class="cls_005"><span class="cls_005">3 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:2556px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background04.jpg" width=595 height=842></div>
<div style="position:absolute;left:63.75px;top:54.58px" class="cls_007"><span class="cls_007">Fluides :</span></div>
<div style="position:absolute;left:70.84px;top:77.24px" class="cls_003"><span class="cls_003">Frais de consommation de chauffage, eau, climatisation, électricité, et tous autres fluides</span></div>
<div style="position:absolute;left:70.84px;top:98.49px" class="cls_003"><span class="cls_003">Abonnement et frais des fluides</span></div>
<div style="position:absolute;left:63.75px;top:127.53px" class="cls_007"><span class="cls_007">Travaux ou réparations :</span></div>
<div style="position:absolute;left:70.84px;top:150.20px" class="cls_003"><span class="cls_003">Les menues réparations portant sur l'immeuble ou l'ensemble immobilier et de tous leurs équipements, des appareils</span></div>
<div style="position:absolute;left:70.84px;top:171.44px" class="cls_003"><span class="cls_003">de levage (ascenseurs, monte-charges, ..), des groupes électrogènes, des installations électriques, des canalisations</span></div>
<div style="position:absolute;left:70.84px;top:192.69px" class="cls_003"><span class="cls_003">et généralement de tous équipements concourant au bon fonctionnement et à la sécurité des Lieux Loués et de</span></div>
<div style="position:absolute;left:70.84px;top:213.94px" class="cls_003"><span class="cls_003">l’ensemble immobilier.</span></div>
<div style="position:absolute;left:70.84px;top:235.19px" class="cls_003"><span class="cls_003">Les travaux d’amélioration, de modernisation, de réfection et de remplacement de l’immeuble et de tous ses</span></div>
<div style="position:absolute;left:70.84px;top:256.43px" class="cls_003"><span class="cls_003">équipements ainsi que les travaux d’embellissements dont le montant excède le coût du remplacement à l’identique</span></div>
<div style="position:absolute;left:70.84px;top:277.68px" class="cls_003"><span class="cls_003">Force majeure (à l'exception des grosses réparations entrant dans le cadre de l'art 606 du Code Civil)</span></div>
<div style="position:absolute;left:70.84px;top:298.93px" class="cls_003"><span class="cls_003">Vices cachés (à l'exception des grosses réparations entrant dans le cadre de l'art 606 du Code Civil)</span></div>
<div style="position:absolute;left:70.84px;top:320.18px" class="cls_003"><span class="cls_003">Ravalement dans son intégralité, en ce compris les frais d'installation de l'échafaudage, à l'exception des grosses</span></div>
<div style="position:absolute;left:70.84px;top:341.43px" class="cls_003"><span class="cls_003">réparations entrant dans le cadre de l'art 606 du Code Civil</span></div>
<div style="position:absolute;left:70.84px;top:362.67px" class="cls_003"><span class="cls_003">Si les Lieux Loués ne comportent pas de compteur individuel d’eau, de gaz ou d’électricité le Bailleur se réserve le</span></div>
<div style="position:absolute;left:70.84px;top:383.92px" class="cls_003"><span class="cls_003">droit d’exiger à tout moment de la location la pose d’un compteur individuel. Le Preneur aura à supporter tous les frais</span></div>
<div style="position:absolute;left:70.84px;top:405.17px" class="cls_003"><span class="cls_003">de modification, d’installation, de pose, d’honoraires et de fourniture de conduite et de compteurs, avec tous les</span></div>
<div style="position:absolute;left:70.84px;top:426.42px" class="cls_003"><span class="cls_003">accessoires.</span></div>
<div style="position:absolute;left:70.84px;top:447.67px" class="cls_003"><span class="cls_003">Les honoraires techniques et les frais d'études préalables ne concernant pas les grosses réparations de l'article 606</span></div>
<div style="position:absolute;left:70.84px;top:468.91px" class="cls_003"><span class="cls_003">du Code Civil</span></div>
<div style="position:absolute;left:70.84px;top:490.16px" class="cls_003"><span class="cls_003">Les honoraires des architectes, des bureaux d'étude, de contrôle, les rapports des différents intervenants comme les</span></div>
<div style="position:absolute;left:70.84px;top:511.41px" class="cls_003"><span class="cls_003">ingénieurs bétons à l'exclusion de ceux liés à la réalisation des grosses réparations de l'article 606 du Code Civil</span></div>
<div style="position:absolute;left:70.84px;top:532.66px" class="cls_003"><span class="cls_003">L'ensemble des diagnostics, notamment environnementaux, performance énergétique</span></div>
<div style="position:absolute;left:70.84px;top:553.90px" class="cls_003"><span class="cls_003">Le renouvellement des réseaux communs</span></div>
<div style="position:absolute;left:63.75px;top:582.94px" class="cls_007"><span class="cls_007">Entretien :</span></div>
<div style="position:absolute;left:70.84px;top:605.61px" class="cls_003"><span class="cls_003">Les frais de nettoyage, d'entretien des Lieux Loués et de l'immeuble (et notamment les parties communes) en ce</span></div>
<div style="position:absolute;left:70.84px;top:626.86px" class="cls_003"><span class="cls_003">compris l'ensemble des éléments techniques et du matériel</span></div>
<div style="position:absolute;left:70.84px;top:648.10px" class="cls_003"><span class="cls_003">Les frais d'entretien et de maintenance ainsi que l’exploitation des appareils de production d’énergie, de chauffage et</span></div>
<div style="position:absolute;left:70.84px;top:669.35px" class="cls_003"><span class="cls_003">de climatisation</span></div>
<div style="position:absolute;left:70.84px;top:690.60px" class="cls_003"><span class="cls_003">Les frais d'entretien et de maintenance des appareils de levage (ascenseurs, monte-charges, ..), des groupes</span></div>
<div style="position:absolute;left:70.84px;top:711.85px" class="cls_003"><span class="cls_003">électrogènes, des installations électriques, des canalisations et généralement de tous équipements concourant au bon</span></div>
<div style="position:absolute;left:70.84px;top:733.09px" class="cls_003"><span class="cls_003">fonctionnement et à la sécurité des Lieux Loués et de l’ensemble immobilier,</span></div>
<div style="position:absolute;left:70.84px;top:754.34px" class="cls_003"><span class="cls_003">Les frais d'acquisition et de renouvellement de la décoration végétale s’il en existe ou de petit mobilier, ainsi que les</span></div>
<div style="position:absolute;left:70.84px;top:775.59px" class="cls_003"><span class="cls_003">frais d’entretien des espaces verts intérieurs et extérieurs, les frais d’entretien des VRD, le cas échéant,</span></div>
<div style="position:absolute;left:535.90px;top:804.14px" class="cls_005"><span class="cls_005">4 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:3408px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background05.jpg" width=595 height=842></div>
<div style="position:absolute;left:70.84px;top:46.79px" class="cls_003"><span class="cls_003">Toutes les dépenses de fonctionnement des services généraux des Lieux Loués et de l’ensemble immobilier</span></div>
<div style="position:absolute;left:70.84px;top:68.04px" class="cls_003"><span class="cls_003">Acquisition et renouvellement du matériel et de l'outillage nécessaire à la gestion et à l'exploitation</span></div>
<div style="position:absolute;left:63.75px;top:97.08px" class="cls_007"><span class="cls_007">Mise en conformité :</span></div>
<div style="position:absolute;left:70.84px;top:119.74px" class="cls_003"><span class="cls_003">Dés lors qu'ils ne relèvent pas des grosses réparations selon l'article 606 du Code Civil, le Preneur devra effectuer à</span></div>
<div style="position:absolute;left:70.84px;top:140.99px" class="cls_003"><span class="cls_003">ses frais, tous travaux qui pourraient être prescrits par les lois, les règlements ou les autorités administratives, lors de</span></div>
<div style="position:absolute;left:70.84px;top:162.24px" class="cls_003"><span class="cls_003">l’entrée en jouissance ou en cours de bail, aux fins notamment de permettre l’utilisation des Lieux Loués et de</span></div>
<div style="position:absolute;left:70.84px;top:183.48px" class="cls_003"><span class="cls_003">l’Immeuble, en conformité avec la réglementation et législation actuelle ou future, quelle que soit la nature des</span></div>
<div style="position:absolute;left:70.84px;top:204.73px" class="cls_003"><span class="cls_003">prescriptions administratives (hygiène, sécurité, législation du travail, accessibilité, etc...), et notamment l’accessibilité</span></div>
<div style="position:absolute;left:70.84px;top:225.98px" class="cls_003"><span class="cls_003">handicapée, le désamiantage, le retrait du plomb, l’amélioration énergétique et environnementale, le traitement contre</span></div>
<div style="position:absolute;left:70.84px;top:247.23px" class="cls_003"><span class="cls_003">les insectes xylophages.</span></div>
<div style="position:absolute;left:80.75px;top:276.27px" class="cls_007"><span class="cls_007">Assurances :</span></div>
<div style="position:absolute;left:70.84px;top:298.93px" class="cls_003"><span class="cls_003">Les primes d'assurance et de responsabilité civile acquittées par le Bailleur portant sur les Lieux Loués et l’ensemble</span></div>
<div style="position:absolute;left:70.84px;top:320.18px" class="cls_003"><span class="cls_003">immobilier, et par exemple sans que cette liste ne soit limitative, les assurances incendie et explosion, vandalisme et</span></div>
<div style="position:absolute;left:70.84px;top:341.43px" class="cls_003"><span class="cls_003">bris de glace, responsabilité civile, dégâts des eaux, etc.</span></div>
<div style="position:absolute;left:70.84px;top:362.67px" class="cls_003"><span class="cls_003">Les honoraires et frais de courtage</span></div>
<div style="position:absolute;left:80.75px;top:391.71px" class="cls_007"><span class="cls_007">Taxes et impôts :</span></div>
<div style="position:absolute;left:70.84px;top:414.38px" class="cls_003"><span class="cls_003">L’impôt foncier dans toutes ses composantes, en ce compris la taxe de balayage, d'enlèvement des ordures</span></div>
<div style="position:absolute;left:70.84px;top:435.62px" class="cls_003"><span class="cls_003">ménagères, les droits y afférents, frais et autres.</span></div>
<div style="position:absolute;left:70.84px;top:456.87px" class="cls_003"><span class="cls_003">Plus généralement les taxes locales, contributions, ou redevances diverses à payer au titre de régies municipales,</span></div>
<div style="position:absolute;left:70.84px;top:478.12px" class="cls_003"><span class="cls_003">afférentes à l’immeuble ou l'ensemble immobilier.</span></div>
<div style="position:absolute;left:70.84px;top:499.37px" class="cls_003"><span class="cls_003">Les taxes sur les bureaux, les locaux commerciaux, les locaux de stockage et les surfaces de stationnement</span></div>
<div style="position:absolute;left:70.84px;top:520.62px" class="cls_003"><span class="cls_003">applicables en Ile-de-France.</span></div>
<div style="position:absolute;left:70.84px;top:541.86px" class="cls_003"><span class="cls_003">et plus généralement, tous impôts, taxes, redevances, contributions et charges assis ou à asseoir sur les Lieux Loués</span></div>
<div style="position:absolute;left:70.84px;top:563.11px" class="cls_003"><span class="cls_003">ou l’immeuble présents et/ou qui existent ou qui pourraient être créés ultérieurement et liés à l’usage du local ou de</span></div>
<div style="position:absolute;left:70.84px;top:584.36px" class="cls_003"><span class="cls_003">l’immeuble ou à un service dont le locataire bénéficie directement ou indirectement sous quelque forme et à quelque</span></div>
<div style="position:absolute;left:70.84px;top:605.61px" class="cls_003"><span class="cls_003">titre que ce soient, notamment en remplacement ou en supplément de ceux ci-dessus visés, et par exemple les taxes</span></div>
<div style="position:absolute;left:70.84px;top:626.86px" class="cls_003"><span class="cls_003">environnementales, sur les parkings...</span></div>
<div style="position:absolute;left:80.75px;top:655.89px" class="cls_007"><span class="cls_007">Déchets :</span></div>
<div style="position:absolute;left:70.84px;top:678.56px" class="cls_003"><span class="cls_003">Les frais d'élimination et de tri des déchets communs, s'il y a lieu</span></div>
<div style="position:absolute;left:80.75px;top:707.60px" class="cls_007"><span class="cls_007">Frais, salaires et honoraires des prestataires externes :</span></div>
<div style="position:absolute;left:70.84px;top:730.26px" class="cls_003"><span class="cls_003">Les frais de main-d’œuvre, salaires, charges sociales et fiscales du personnel affecté à l’immeuble ou à l'ensemble</span></div>
<div style="position:absolute;left:70.84px;top:751.51px" class="cls_003"><span class="cls_003">immobilier, chargé de la surveillance, de réparation, de la sécurité et du gardiennage, de l'exécution des tâches</span></div>
<div style="position:absolute;left:70.84px;top:772.76px" class="cls_003"><span class="cls_003">concernant des services ou des prestations, de l'entretien et de la propreté des Lieux Loués et de l’ ensemble</span></div>
<div style="position:absolute;left:535.90px;top:804.14px" class="cls_005"><span class="cls_005">5 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:4260px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background06.jpg" width=595 height=842></div>
<div style="position:absolute;left:70.84px;top:43.96px" class="cls_003"><span class="cls_003">immobilier, ainsi que tout le personnel suppléant ou intérimaire,</span></div>
<div style="position:absolute;left:70.84px;top:65.20px" class="cls_003"><span class="cls_003">Rémunération des entreprises extérieures affectées à différentes tâches</span></div>
<div style="position:absolute;left:70.84px;top:86.45px" class="cls_003"><span class="cls_003">Les frais relatifs au service d'un standard téléphonique et de toutes autres installations de télécommunications, s'il y a</span></div>
<div style="position:absolute;left:70.84px;top:107.70px" class="cls_003"><span class="cls_003">lieu,</span></div>
<div style="position:absolute;left:70.84px;top:128.95px" class="cls_003"><span class="cls_003">Les  frais  de  diagnostics  et  contrôles  de  toute  nature  portant  sur  l’ensemble  immobilier  qu’ils  relèvent  de</span></div>
<div style="position:absolute;left:70.84px;top:150.20px" class="cls_003"><span class="cls_003">réglementations ou législations présentes ou futures,</span></div>
<div style="position:absolute;left:70.84px;top:171.44px" class="cls_003"><span class="cls_003">S'il y a lieu, les charges issues de l'existence d'une association syndicale, groupement ou autre et notamment les</span></div>
<div style="position:absolute;left:70.84px;top:192.69px" class="cls_003"><span class="cls_003">avances de trésorerie appelées par le syndic, les honoraires du syndic,</span></div>
<div style="position:absolute;left:70.84px;top:213.94px" class="cls_003"><span class="cls_003">Et l'ensemble des autres charges, taxes et accessoires de toutes natures présentes ou futures qui ne sont pas</span></div>
<div style="position:absolute;left:70.84px;top:235.19px" class="cls_003"><span class="cls_003">intégrés dans la liste précitée.</span></div>
<div style="position:absolute;left:70.13px;top:264.23px" class="cls_006"><span class="cls_006">5.2.2 A la charge du bailleur</span></div>
<div style="position:absolute;left:70.84px;top:286.89px" class="cls_003"><span class="cls_003">Les grosses réparations de l'article 606 du Code civil</span></div>
<div style="position:absolute;left:70.84px;top:308.14px" class="cls_003"><span class="cls_003">Les travaux relevant de la vétusté</span></div>
<div style="position:absolute;left:70.84px;top:329.39px" class="cls_003"><span class="cls_003">Les impôts, notamment la contribution économique territoriale, taxes et redevances dont le redevable légal est le</span></div>
<div style="position:absolute;left:70.84px;top:350.63px" class="cls_003"><span class="cls_003">bailleur ou le propriétaire du local ou de l'immeuble</span></div>
<div style="position:absolute;left:70.84px;top:371.88px" class="cls_003"><span class="cls_003">La rémunération du ou des mandataires chargés de la gestion, de la maintenance et de l’administration des</span></div>
<div style="position:absolute;left:70.84px;top:393.13px" class="cls_003"><span class="cls_003">ensembles immobiliers et des Lieux Loués, notamment les honoraires de gestion ou à défaut de gestion externe.</span></div>
<div style="position:absolute;left:42.51px;top:423.58px" class="cls_003"><span class="cls_003">D’une manière générale, le Preneur devra rembourser au Bailleur avec les charges, tout nouvel impôt, taxe ou redevance</span></div>
<div style="position:absolute;left:42.51px;top:444.83px" class="cls_003"><span class="cls_003">communal, régional, ou national, auxquels les Lieux Loués seraient assujettis et qui pourrait être créé.</span></div>
<div style="position:absolute;left:42.51px;top:475.29px" class="cls_003"><span class="cls_003">Un état récapitulatif annuel des charges, impôts, taxes, et redevances supportés par le Preneur sera communiqué à ce</span></div>
<div style="position:absolute;left:42.51px;top:496.54px" class="cls_003"><span class="cls_003">dernier au plus tard le 30 septembre de l'année suivant celle au titre de laquelle il est établi. Par ailleurs, le bailleur</span></div>
<div style="position:absolute;left:42.51px;top:517.78px" class="cls_003"><span class="cls_003">communiquera au preneur, à sa demande, tout document justifiant le montant des charges, impôts, taxes et redevances</span></div>
<div style="position:absolute;left:42.51px;top:539.03px" class="cls_003"><span class="cls_003">imputés à celui-ci.</span></div>
<div style="position:absolute;left:42.51px;top:569.49px" class="cls_003"><span class="cls_003">5.3 Les charges susvisées seront payables par le Preneur de la manière suivante :</span></div>
<div style="position:absolute;left:70.84px;top:590.73px" class="cls_003"><span class="cls_003">Le Preneur versera, chaque trimestre et en sus du loyer, une provision pour couvrir les charges susmentionnées,</span></div>
<div style="position:absolute;left:70.84px;top:611.98px" class="cls_003"><span class="cls_003">égale au quart de la somme lui incombant au titre du budget prévisionnel de charges. Cette provision trimestrielle,</span></div>
<div style="position:absolute;left:70.84px;top:633.23px" class="cls_003"><span class="cls_003">pour la première année, sera d’un montant de ________________ euros.</span></div>
<div style="position:absolute;left:70.84px;top:654.48px" class="cls_003"><span class="cls_003">Le Preneur réglera au Bailleur, le jour de la prise de possession des Lieux Loués, une quote-part de cette provision,</span></div>
<div style="position:absolute;left:70.84px;top:675.73px" class="cls_003"><span class="cls_003">calculée prorata temporis entre la date de prise de possession des Lieux Loués et la fin du trimestre civil alors en</span></div>
<div style="position:absolute;left:70.84px;top:696.97px" class="cls_003"><span class="cls_003">cours.</span></div>
<div style="position:absolute;left:70.84px;top:718.22px" class="cls_003"><span class="cls_003">Dans le courant du premier semestre suivant chaque année civile, le Bailleur ou son mandataire arrêtera les comptes</span></div>
<div style="position:absolute;left:70.84px;top:739.47px" class="cls_003"><span class="cls_003">de l'année écoulée, les adressera au Preneur en lui réclamant le complément dû en cas d'insuffisance des provisions</span></div>
<div style="position:absolute;left:70.84px;top:760.72px" class="cls_003"><span class="cls_003">ou en le créditant de l'excédent payé selon le cas.</span></div>
<div style="position:absolute;left:535.90px;top:804.14px" class="cls_005"><span class="cls_005">6 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:5112px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background07.jpg" width=595 height=842></div>
<div style="position:absolute;left:70.84px;top:46.79px" class="cls_003"><span class="cls_003">Ce montant provisionnel de charges sera révisé chaque année pour tenir compte du coût des charges supportées</span></div>
<div style="position:absolute;left:70.84px;top:68.04px" class="cls_003"><span class="cls_003">l’année précédente.</span></div>
<div style="position:absolute;left:70.84px;top:89.29px" class="cls_003"><span class="cls_003">Lors du départ du Preneur les charges seront calculées prorata temporis, jusqu'à l’expiration du bail ou si le départ du</span></div>
<div style="position:absolute;left:70.84px;top:110.53px" class="cls_003"><span class="cls_003">Preneur intervient postérieurement à celle-ci, jusqu’au jour effectif de la remise des clefs.</span></div>
<div style="position:absolute;left:42.51px;top:140.99px" class="cls_002"><span class="cls_002">ARTICLE 6 - OBLIGATIONS DES PARTIES</span></div>
<div style="position:absolute;left:42.51px;top:174.98px" class="cls_003"><span class="cls_003">Le présent bail est fait aux charges et conditions ordinaires et de droit comme d’usage en pareille matière et notamment sous</span></div>
<div style="position:absolute;left:42.51px;top:196.23px" class="cls_003"><span class="cls_003">celles suivantes que le Preneur s’oblige à respecter et exécuter, à peine de tous dépens et dommages et intérêts et même de</span></div>
<div style="position:absolute;left:42.51px;top:217.48px" class="cls_003"><span class="cls_003">résiliation des présentes, si bon semble au Bailleur, à savoir :</span></div>
<div style="position:absolute;left:42.51px;top:247.94px" class="cls_003"><span class="cls_003">6.1. Le Preneur prendra les Lieux Loués dans l’état où ils se trouvent au moment de l’entrée en jouissance, sans pouvoir</span></div>
<div style="position:absolute;left:42.51px;top:269.18px" class="cls_003"><span class="cls_003">exiger du Bailleur aucun aménagement, aucune réparation, aucuns travaux de remise en état tels qu’ils résultent de l’état des</span></div>
<div style="position:absolute;left:42.51px;top:290.43px" class="cls_003"><span class="cls_003">lieux contradictoirement dressé entre les parties ou par acte d’huissier aux frais partagés entre Preneur et Bailleur (Annexe).</span></div>
<div style="position:absolute;left:42.51px;top:320.89px" class="cls_003"><span class="cls_003">6.2. Le Preneur devra entretenir les Lieux Loués, pendant toute la durée du bail, en bon état de réparations locatives et</span></div>
<div style="position:absolute;left:42.51px;top:342.13px" class="cls_003"><span class="cls_003">d’entretien et supportera toutes les réparations qui pourraient être nécessaires, exception faite des grosses réparations</span></div>
<div style="position:absolute;left:42.51px;top:363.38px" class="cls_003"><span class="cls_003">définies par l’article 606 du Code civil.</span></div>
<div style="position:absolute;left:42.51px;top:393.84px" class="cls_003"><span class="cls_003">6.3. Le Preneur devra effectuer à ses frais les travaux, en lien avec son activité, qui pourraient être prescrits par les autorités</span></div>
<div style="position:absolute;left:42.51px;top:415.09px" class="cls_003"><span class="cls_003">administratives quelle qu’en soit la nature, tant lors de l’entrée dans les Lieux Loués que durant l’exécution du présent</span></div>
<div style="position:absolute;left:42.51px;top:436.33px" class="cls_003"><span class="cls_003">contrat, sans pouvoir prétendre à sa sortie à aucune indemnité quelconque.</span></div>
<div style="position:absolute;left:42.51px;top:466.79px" class="cls_003"><span class="cls_003">Ainsi, le Preneur devra déférer à toute prescription, réclamation ou injonction qui pourrait émaner, au cours du bail des</span></div>
<div style="position:absolute;left:42.51px;top:488.04px" class="cls_003"><span class="cls_003">autorités compétentes concernant les Lieux Loués et les modalités de leur occupation et les travaux d’adaptation nécessaires</span></div>
<div style="position:absolute;left:42.51px;top:509.28px" class="cls_003"><span class="cls_003">pour mettre les Lieux Loués en conformité aux normes devenues applicables, compte tenu de l’usage des Lieux et de</span></div>
<div style="position:absolute;left:42.51px;top:530.53px" class="cls_003"><span class="cls_003">l’activité du Preneur.</span></div>
<div style="position:absolute;left:42.51px;top:560.99px" class="cls_003"><span class="cls_003">6.4. Le Preneur ne pourra faire dans les Lieux Loués aucun changement de distribution, aucune démolition, aucun</span></div>
<div style="position:absolute;left:42.51px;top:582.23px" class="cls_003"><span class="cls_003">percement de mur ou de voûte, aucune construction ou addition, sans l’autorisation écrite et expresse du Bailleur, et dans les</span></div>
<div style="position:absolute;left:42.51px;top:603.48px" class="cls_003"><span class="cls_003">conditions définies par lui, et ceci, notamment pour ce qui concerne la pose de cloisons et l’installation d’une alarme.</span></div>
<div style="position:absolute;left:42.51px;top:633.94px" class="cls_003"><span class="cls_003">Dans le cas où l’autorisation serait accordée, les travaux seront exécutés, si bon semble au Bailleur, sous la direction de</span></div>
<div style="position:absolute;left:42.51px;top:655.19px" class="cls_003"><span class="cls_003">l’architecte ou du technicien du Bailleur, dont les honoraires seront à la charge du Preneur.</span></div>
<div style="position:absolute;left:42.51px;top:685.64px" class="cls_003"><span class="cls_003">6.5. Le Preneur devra aviser immédiatement le Bailleur de toute dégradation ou détérioration des Lieux Loués. A défaut, il</span></div>
<div style="position:absolute;left:42.51px;top:706.89px" class="cls_003"><span class="cls_003">supportera les éventuelles conséquences de sa carence.</span></div>
<div style="position:absolute;left:42.51px;top:737.34px" class="cls_003"><span class="cls_003">6.6. Toutes les constructions et tous les travaux, embellissements et décors quelconques qui ont été faits ou seraient faits par</span></div>
<div style="position:absolute;left:42.51px;top:758.59px" class="cls_003"><span class="cls_003">le Preneur, y compris ceux de caractère immobilier, deviendront, en fin de bail, la propriété du Bailleur sans aucune</span></div>
<div style="position:absolute;left:42.51px;top:779.84px" class="cls_003"><span class="cls_003">indemnité, à moins que le Bailleur ne préfère demander le rétablissement des Lieux Loués dans l’état dans lequel ils se</span></div>
<div style="position:absolute;left:535.90px;top:804.14px" class="cls_005"><span class="cls_005">7 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:5964px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background08.jpg" width=595 height=842></div>
<div style="position:absolute;left:42.51px;top:51.04px" class="cls_003"><span class="cls_003">trouvaient lors de l’entrée en jouissance du Preneur.</span></div>
<div style="position:absolute;left:42.51px;top:81.49px" class="cls_003"><span class="cls_003">6.7. Le Preneur souffrira, pendant toute la durée du bail, l’exécution dans les Lieux Loués ou sur les parties communes de</span></div>
<div style="position:absolute;left:42.51px;top:102.74px" class="cls_003"><span class="cls_003">l’Immeuble, de tous travaux de reconstruction et réparations quelconques que le Bailleur jugera nécessaires, sans pouvoir</span></div>
<div style="position:absolute;left:42.51px;top:123.99px" class="cls_003"><span class="cls_003">réclamer aucune indemnité ni diminution de loyer, et ce même si la durée de ces travaux excédait 21 jours, par dérogation</span></div>
<div style="position:absolute;left:42.51px;top:145.24px" class="cls_003"><span class="cls_003">aux articles 1723 et 1724 du Code civil.</span></div>
<div style="position:absolute;left:42.51px;top:175.69px" class="cls_003"><span class="cls_003">En cas de travaux effectués par le Bailleur, le Preneur s’engage à déposer et à entreposer tous meubles et objets mobiliers,</span></div>
<div style="position:absolute;left:42.51px;top:196.94px" class="cls_003"><span class="cls_003">marchandises,  agencements,  décorations,  faux-plafonds,  installations  quelconques  dont  l’enlèvement  sera  utile  pour</span></div>
<div style="position:absolute;left:42.51px;top:218.19px" class="cls_003"><span class="cls_003">l’exécution de ces travaux.</span></div>
<div style="position:absolute;left:42.51px;top:248.64px" class="cls_003"><span class="cls_003">6.8. Le Preneur devra garnir et tenir constamment garnis les Lieux Loués de matériels et d’objets mobiliers, en quantité et de</span></div>
<div style="position:absolute;left:42.51px;top:269.89px" class="cls_003"><span class="cls_003">valeur suffisante, pour répondre en tout temps du paiement du loyer et de l’exécution des conditions du bail.</span></div>
<div style="position:absolute;left:42.51px;top:300.35px" class="cls_003"><span class="cls_003">6.9. Si les Lieux Loués viennent à être détruits en totalité par un événement indépendant de la volonté du Bailleur, le présent</span></div>
<div style="position:absolute;left:42.51px;top:321.59px" class="cls_003"><span class="cls_003">bail sera résilié de plein droit sans indemnité.</span></div>
<div style="position:absolute;left:42.51px;top:352.05px" class="cls_003"><span class="cls_003">En cas de destruction partielle des Lieux Loués, soit le présent bail sera résilié sans indemnité, sans préjudice pour le</span></div>
<div style="position:absolute;left:42.51px;top:373.30px" class="cls_003"><span class="cls_003">Bailleur de son droit éventuel contre le Preneur si la destruction est imputable à ce dernier, soit le loyer réduit à concurrence</span></div>
<div style="position:absolute;left:42.51px;top:394.55px" class="cls_003"><span class="cls_003">de la surface inutilisable, ce à la demande de l’une ou l’autre des parties.</span></div>
<div style="position:absolute;left:42.51px;top:425.00px" class="cls_003"><span class="cls_003">Aucune autre indemnité ne sera due par le Bailleur au Preneur au titre de privation de jouissance, perte d'exploitation ou à</span></div>
<div style="position:absolute;left:42.51px;top:446.25px" class="cls_003"><span class="cls_003">tout autre titre.</span></div>
<div style="position:absolute;left:42.51px;top:476.70px" class="cls_003"><span class="cls_003">6.10. Le Preneur devra laisser le Bailleur et/ou son architecte visiter les Lieux Loués pour s’assurer de leur état au moins</span></div>
<div style="position:absolute;left:42.51px;top:497.95px" class="cls_003"><span class="cls_003">deux fois par an.</span></div>
<div style="position:absolute;left:42.51px;top:528.41px" class="cls_003"><span class="cls_003">Il devra également les laisser visiter pendant les six derniers mois du bail en cas de congé signifié par le Preneur, ou, en cas</span></div>
<div style="position:absolute;left:42.51px;top:549.65px" class="cls_003"><span class="cls_003">de mise en vente de l’Immeuble, par toute personne munie de l’autorisation du Bailleur ou de son notaire. Toutefois, ces</span></div>
<div style="position:absolute;left:42.51px;top:570.90px" class="cls_003"><span class="cls_003">visites ne pourront avoir lieu que les jours ouvrés et seulement de dix heures à dix huit heures.</span></div>
<div style="position:absolute;left:42.51px;top:601.36px" class="cls_003"><span class="cls_003">6.11. Le Preneur ne pourra rien faire qui puisse porter un trouble de jouissance ni par lui, ni par son personnel.</span></div>
<div style="position:absolute;left:42.51px;top:631.81px" class="cls_003"><span class="cls_003">Il devra veiller à ce que la tranquillité de l’Immeuble ne soit troublée en aucune manière du fait de son activité, de ses</span></div>
<div style="position:absolute;left:42.51px;top:653.06px" class="cls_003"><span class="cls_003">matériels, outillages ou équipements, de son personnel, ou de ses visiteurs.</span></div>
<div style="position:absolute;left:42.51px;top:683.52px" class="cls_003"><span class="cls_003">6.12. Concernant les parties communes de l’Immeuble, ainsi que les installations collectives, le Preneur s’engage à prendre</span></div>
<div style="position:absolute;left:42.51px;top:704.76px" class="cls_003"><span class="cls_003">à sa charge leur remise en état si des dégradations sont de son fait ou du fait des membres de son personnel, voire de</span></div>
<div style="position:absolute;left:42.51px;top:726.01px" class="cls_003"><span class="cls_003">clients ou visiteurs.</span></div>
<div style="position:absolute;left:42.51px;top:756.47px" class="cls_003"><span class="cls_003">6.13. Le Preneur respectera le règlement intérieur de l’Immeuble, le cas échéant.</span></div>
<div style="position:absolute;left:535.90px;top:804.14px" class="cls_005"><span class="cls_005">8 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:6816px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background09.jpg" width=595 height=842></div>
<div style="position:absolute;left:42.51px;top:56.00px" class="cls_003"><span class="cls_003">6.14. Le Preneur ne pourra apposer, même temporairement, aucune plaque, signalétique, enseigne, antenne ou installation</span></div>
<div style="position:absolute;left:42.51px;top:77.24px" class="cls_003"><span class="cls_003">quelconque dans l’immeuble ou modifiant l’aspect extérieur de l’Immeuble, si ce n’est après avoir obtenu l’autorisation</span></div>
<div style="position:absolute;left:42.51px;top:98.49px" class="cls_003"><span class="cls_003">expresse et écrite du Bailleur, le Preneur, devant, dans ce cas obtenir les autorisations de l’assemblée générale de la</span></div>
<div style="position:absolute;left:42.51px;top:119.74px" class="cls_003"><span class="cls_003">copropriété le cas échéant et administratives nécessaires relatives à la publicité, les enseignes et pré-enseignes. Le Bailleur</span></div>
<div style="position:absolute;left:42.51px;top:140.99px" class="cls_003"><span class="cls_003">signera si nécessaire, les demandes d’autorisation ou autorisera le dépôt des demandes nécessaires.</span></div>
<div style="position:absolute;left:42.51px;top:171.44px" class="cls_003"><span class="cls_003">Le Preneur ne pourra non plus poser sur le palier de l’étage ou dans le hall d’entrée de l’Immeuble une plaque sans</span></div>
<div style="position:absolute;left:42.51px;top:192.69px" class="cls_003"><span class="cls_003">l’autorisation expresse et écrite du Bailleur.</span></div>
<div style="position:absolute;left:42.51px;top:223.15px" class="cls_003"><span class="cls_003">En cas d’autorisation, les plaques devront être posées aux emplacements prévus à cet effet et correspondre au type et aux</span></div>
<div style="position:absolute;left:42.51px;top:244.39px" class="cls_003"><span class="cls_003">dimensions préalablement agrées par le Bailleur.</span></div>
<div style="position:absolute;left:42.51px;top:274.85px" class="cls_002"><span class="cls_002">ARTICLE 7 - ASSURANCES</span></div>
<div style="position:absolute;left:42.51px;top:308.85px" class="cls_003"><span class="cls_003">7.1. Le Bailleur s'engage à assurer auprès de compagnies d'assurances notoirement solvables et désignées par lui :</span></div>
<div style="position:absolute;left:42.51px;top:339.30px" class="cls_003"><span class="cls_003">a) L'Immeuble en valeur à neuf y compris tous agencements et installations considérés comme immeuble par nature, ou</span></div>
<div style="position:absolute;left:42.51px;top:360.55px" class="cls_003"><span class="cls_003">destination, suivant l’article 525 du Code Civil, contre tous les risques usuels de destruction et notamment les risques</span></div>
<div style="position:absolute;left:42.51px;top:381.80px" class="cls_003"><span class="cls_003">suivants :</span></div>
<div style="position:absolute;left:70.84px;top:403.04px" class="cls_003"><span class="cls_003">Incendie et foudre, toute explosion, dommage électrique, chute d'aéronefs et objets aériens, choc de véhicules</span></div>
<div style="position:absolute;left:70.84px;top:424.29px" class="cls_003"><span class="cls_003">appartenant à un tiers, attentats et catastrophes naturelles, notamment ouragan, cyclone, tornade, tempête, grêle,</span></div>
<div style="position:absolute;left:70.84px;top:445.54px" class="cls_003"><span class="cls_003">fumée, grève, émeute et mouvement populaire, acte de vandalisme et de malveillance, dégât des eaux, dommages</span></div>
<div style="position:absolute;left:70.84px;top:466.79px" class="cls_003"><span class="cls_003">liés à la circulation des fluides, calories et frigories.</span></div>
<div style="position:absolute;left:42.51px;top:497.24px" class="cls_003"><span class="cls_003">b) Sa responsabilité civile en raison des dommages corporels ou matériels causés à des tiers du fait des bâtiments, des</span></div>
<div style="position:absolute;left:42.51px;top:518.49px" class="cls_003"><span class="cls_003">agencements et installations des parties communes ainsi que des activités du personnel en charge de ces mêmes parties</span></div>
<div style="position:absolute;left:42.51px;top:539.74px" class="cls_003"><span class="cls_003">communes. Il est précisé que les locataires sont considérés comme tiers entre eux et vis-à-vis du Bailleur.</span></div>
<div style="position:absolute;left:42.51px;top:570.19px" class="cls_003"><span class="cls_003">7.2. Le Preneur devra assurer et maintenir assurés contre l'incendie, le vol, les dégâts des eaux, les courts circuits,</span></div>
<div style="position:absolute;left:42.51px;top:591.44px" class="cls_003"><span class="cls_003">l'explosion et tous autres risques généralement assurés, pendant toute la durée du bail, tous les aménagements qu'il aura pu</span></div>
<div style="position:absolute;left:42.51px;top:612.69px" class="cls_003"><span class="cls_003">apporter aux Lieux Loués, les objets, mobiliers, matériels et marchandises lui appartenant les garnissant, le recours des</span></div>
<div style="position:absolute;left:42.51px;top:633.94px" class="cls_003"><span class="cls_003">voisins ainsi que sa responsabilité civile envers tous tiers, notamment au titre d'accidents corporels survenus dans les Lieux</span></div>
<div style="position:absolute;left:42.51px;top:655.19px" class="cls_003"><span class="cls_003">Loués ou dont le Preneur pourrait être responsable, auprès d'une compagnie d'assurances notoirement solvable, acquitter</span></div>
<div style="position:absolute;left:42.51px;top:676.43px" class="cls_003"><span class="cls_003">exactement les primes ou cotisations de cette assurance et justifier du tout au Bailleur à chaque réquisition de celui-ci.</span></div>
<div style="position:absolute;left:42.51px;top:706.89px" class="cls_003"><span class="cls_003">7.3. Le Bailleur renonce et fera renoncer ses assureurs en cas de sinistre à tout recours qu'il serait fondé à exercer contre le</span></div>
<div style="position:absolute;left:42.51px;top:728.14px" class="cls_003"><span class="cls_003">Preneur et ses assureurs ou autres occupants de l’Immeuble du chef du Preneur.</span></div>
<div style="position:absolute;left:42.51px;top:758.59px" class="cls_003"><span class="cls_003">La police du Preneur devra comporter renonciation par sa compagnie d'assurances à tous recours contre le Bailleur, les</span></div>
<div style="position:absolute;left:42.51px;top:779.84px" class="cls_003"><span class="cls_003">mandataires du Bailleur, et les assureurs des personnes susvisées, pour la part des dégâts ou dommages dont ces derniers</span></div>
<div style="position:absolute;left:535.90px;top:804.14px" class="cls_005"><span class="cls_005">9 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:7668px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background10.jpg" width=595 height=842></div>
<div style="position:absolute;left:42.51px;top:51.04px" class="cls_003"><span class="cls_003">pourraient être responsables à quelque titre que ce soit.</span></div>
<div style="position:absolute;left:42.51px;top:81.49px" class="cls_003"><span class="cls_003">Le Preneur renonce expressément à tous recours et actions quelconques contre les personnes susvisées du fait des</span></div>
<div style="position:absolute;left:42.51px;top:102.74px" class="cls_003"><span class="cls_003">dommages susvisés ou du fait de la privation de jouissance des Lieux Loués.</span></div>
<div style="position:absolute;left:42.51px;top:133.20px" class="cls_003"><span class="cls_003">7.4. Faute pour le Preneur d'avoir souscrit lesdites polices d'assurances et/ou d'en avoir payé les primes, le Bailleur se</span></div>
<div style="position:absolute;left:42.51px;top:154.45px" class="cls_003"><span class="cls_003">réserve le droit d'y procéder. Dans ce cas, le Preneur s'engage à lui rembourser toutes sommes payées par lui à ce titre,</span></div>
<div style="position:absolute;left:42.51px;top:175.69px" class="cls_003"><span class="cls_003">majorées de plein droit et sans mise en demeure, des intérêts au taux mentionné aux articles 10.2 et 10.3 ci-après à compter</span></div>
<div style="position:absolute;left:42.51px;top:196.94px" class="cls_003"><span class="cls_003">du jour où ces sommes auraient été payées par le Bailleur.</span></div>
<div style="position:absolute;left:42.51px;top:227.40px" class="cls_003"><span class="cls_003">7.5. Si l'activité exercée par le Preneur entraînait, soit pour le Bailleur, soit pour les voisins, des surprimes d'assurances, le</span></div>
<div style="position:absolute;left:42.51px;top:248.64px" class="cls_003"><span class="cls_003">Preneur serait tenu à la fois d'indemniser le Bailleur du montant de la surprime payée et de le garantir contre toutes les</span></div>
<div style="position:absolute;left:42.51px;top:269.89px" class="cls_003"><span class="cls_003">réclamations des voisins.</span></div>
<div style="position:absolute;left:42.51px;top:300.35px" class="cls_002"><span class="cls_002">ARTICLE 8 - RESPONSABILITÉ ET RECOURS</span></div>
<div style="position:absolute;left:42.51px;top:334.34px" class="cls_003"><span class="cls_003">Le Preneur renonce à tous recours en responsabilité ou réclamation contre le Bailleur, tous mandataires du Bailleur, leurs</span></div>
<div style="position:absolute;left:42.51px;top:355.59px" class="cls_003"><span class="cls_003">assureurs et s'engage à obtenir les mêmes renonciations de tous assureurs pour les cas suivants :</span></div>
<div style="position:absolute;left:42.51px;top:386.05px" class="cls_003"><span class="cls_003">8.1. En cas de vol, de tentative de vol, de tout acte délictueux ou de toute voie de fait dont le Preneur pourrait être victime</span></div>
<div style="position:absolute;left:42.51px;top:407.29px" class="cls_003"><span class="cls_003">dans les Lieux Loués ou dans l’Immeuble, le Bailleur n'assumant aucune obligation de surveillance.</span></div>
<div style="position:absolute;left:42.51px;top:437.75px" class="cls_003"><span class="cls_003">8.2. En cas d'irrégularités ou d'interruption des ascenseurs, du service de l'eau, de l'électricité, du téléphone, de la</span></div>
<div style="position:absolute;left:42.51px;top:459.00px" class="cls_003"><span class="cls_003">climatisation, des groupes électrogènes de tous systèmes informatiques s'il en existe.</span></div>
<div style="position:absolute;left:42.51px;top:489.45px" class="cls_003"><span class="cls_003">Le Bailleur s'engage de son côté à faire toutes diligences pour faire rétablir le fonctionnement desdits équipements et la</span></div>
<div style="position:absolute;left:42.51px;top:510.70px" class="cls_003"><span class="cls_003">fourniture desdits fluides.</span></div>
<div style="position:absolute;left:42.51px;top:541.16px" class="cls_003"><span class="cls_003">8.3. En cas de dégâts causés aux Lieux Loués et/ou à tous éléments mobiliers s'y trouvant, par suite de fuites, d'infiltrations,</span></div>
<div style="position:absolute;left:42.51px;top:562.40px" class="cls_003"><span class="cls_003">d'humidité ou autres circonstances.</span></div>
<div style="position:absolute;left:42.51px;top:592.86px" class="cls_003"><span class="cls_003">8.4. En cas d'agissements générateurs de dommages des autres occupants de l'Immeuble, de leur personnel, fournisseurs</span></div>
<div style="position:absolute;left:42.51px;top:614.11px" class="cls_003"><span class="cls_003">et clients, de tous tiers en général.</span></div>
<div style="position:absolute;left:42.51px;top:644.56px" class="cls_003"><span class="cls_003">8.5. En cas d’expropriation totale ou partielle des Lieux Loués ou de mise à l’alignement de l’Immeuble, toute action devant</span></div>
<div style="position:absolute;left:42.51px;top:665.81px" class="cls_003"><span class="cls_003">être exercée par le Preneur directement à l’égard de l’Administration ou de l’autorité responsable.</span></div>
<div style="position:absolute;left:42.51px;top:696.26px" class="cls_003"><span class="cls_003">8.6. En cas d'accidents survenant dans les Lieux Loués ou dans l’Immeuble pendant le cours du bail, qu'elle qu'en soit la</span></div>
<div style="position:absolute;left:42.51px;top:717.51px" class="cls_003"><span class="cls_003">cause ; de prendre donc à son compte personnel et à sa charge entière toute responsabilité civile en résultant à l'égard soit</span></div>
<div style="position:absolute;left:42.51px;top:738.76px" class="cls_003"><span class="cls_003">de son personnel, soit du Bailleur, soit des tiers, sans que le Bailleur puisse être inquiété ou poursuivi de ce chef.</span></div>
<div style="position:absolute;left:42.51px;top:769.22px" class="cls_002"><span class="cls_002">ARTICLE 9 - CESSION - SOUS-LOCATION</span></div>
<div style="position:absolute;left:530.32px;top:804.14px" class="cls_005"><span class="cls_005">1</span></div>
<div style="position:absolute;left:544.25px;top:804.14px" class="cls_005"><span class="cls_005">/14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:8520px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background11.jpg" width=595 height=842></div>
<div style="position:absolute;left:42.51px;top:50.33px" class="cls_004"><span class="cls_004">9.1. Sous-location</span></div>
<div style="position:absolute;left:42.51px;top:83.62px" class="cls_003"><span class="cls_003">9.1.1. Le Preneur ne pourra concéder la jouissance ou sous-louer les Lieux Loués à quiconque, en tout ou en partie, sous</span></div>
<div style="position:absolute;left:42.51px;top:104.87px" class="cls_003"><span class="cls_003">quelque forme que ce soit, même temporairement ou à titre précaire.</span></div>
<div style="position:absolute;left:42.51px;top:135.32px" class="cls_003"><span class="cls_003">9.1.2. Dans le cas où le Bailleur autoriserait le Preneur à consentir une convention de sous-location d'une partie des Lieux</span></div>
<div style="position:absolute;left:42.51px;top:156.57px" class="cls_003"><span class="cls_003">Loués, il est expressément convenu que l’ensemble des Lieux Loués, conservera un caractère indivisible dans la commune</span></div>
<div style="position:absolute;left:42.51px;top:177.82px" class="cls_003"><span class="cls_003">intention des parties.</span></div>
<div style="position:absolute;left:42.51px;top:208.27px" class="cls_003"><span class="cls_003">9.1.3. En cas de sous-location autorisée, le Preneur demeurera débiteur de la totalité des loyers, charges et accessoires et</span></div>
<div style="position:absolute;left:42.51px;top:229.52px" class="cls_003"><span class="cls_003">restera tenu de toutes les obligations dues en vertu du présent bail.</span></div>
<div style="position:absolute;left:42.51px;top:259.98px" class="cls_003"><span class="cls_003">9.1.4. Les charges et conditions du sous-bail devront être compatibles avec l’ensemble de celles stipulées au bail principal.</span></div>
<div style="position:absolute;left:42.51px;top:281.22px" class="cls_003"><span class="cls_003">En cas d’incompatibilité, ce sont les clauses du bail principal qui prévaudront.</span></div>
<div style="position:absolute;left:42.51px;top:311.68px" class="cls_003"><span class="cls_003">En aucun cas le contrat de sous-location ne pourra être consenti pour une durée supérieure à la durée restant à courir du</span></div>
<div style="position:absolute;left:42.51px;top:332.93px" class="cls_003"><span class="cls_003">bail principal.</span></div>
<div style="position:absolute;left:42.51px;top:363.38px" class="cls_003"><span class="cls_003">Le contrat de sous-location devra impérativement contenir une clause par laquelle le sous locataire déclare parfaitement</span></div>
<div style="position:absolute;left:42.51px;top:384.63px" class="cls_003"><span class="cls_003">savoir et reconnaître que le sort du sous-bail suivant celui du bail principal, l’expiration ou la résiliation du second entraînera,</span></div>
<div style="position:absolute;left:42.51px;top:405.88px" class="cls_003"><span class="cls_003">de plein droit, la résiliation du premier et reconnaître que les Lieux Loués étant indivisibles, il ne peut invoquer aucun droit</span></div>
<div style="position:absolute;left:42.51px;top:427.13px" class="cls_003"><span class="cls_003">direct à l’encontre du Bailleur.</span></div>
<div style="position:absolute;left:42.51px;top:454.75px" class="cls_004"><span class="cls_004">9.2. Cession</span></div>
<div style="position:absolute;left:42.51px;top:488.04px" class="cls_003"><span class="cls_003">Le Preneur ne pourra céder son droit au bail qu'à l'acquéreur de son fonds de commerce ou de sa clientèle civile le cas</span></div>
<div style="position:absolute;left:42.51px;top:509.28px" class="cls_003"><span class="cls_003">échéant, à condition que cette cession ne soit pas partielle, et avec l’agrément préalable et écrit du bailleur sur la personne</span></div>
<div style="position:absolute;left:42.51px;top:530.53px" class="cls_003"><span class="cls_003">du cessionnaire.</span></div>
<div style="position:absolute;left:42.51px;top:560.99px" class="cls_003"><span class="cls_003">Toute cession (du droit au bail ou du fonds de commerce ou de la clientèle civile le cas échéant) devra avoir lieu par acte</span></div>
<div style="position:absolute;left:42.51px;top:582.23px" class="cls_003"><span class="cls_003">notarié ou sous seings privés, auquel le Bailleur sera obligatoirement appelé.</span></div>
<div style="position:absolute;left:42.51px;top:612.69px" class="cls_003"><span class="cls_003">Un exemplaire original de l’acte de cession devra être remis au Bailleur, sans frais pour lui.</span></div>
<div style="position:absolute;left:42.51px;top:643.15px" class="cls_003"><span class="cls_003">Les cessionnaires successifs devront s’obliger solidairement avec le Preneur, au paiement des loyers et à l’exécution des</span></div>
<div style="position:absolute;left:42.51px;top:664.39px" class="cls_003"><span class="cls_003">conditions du présent bail. Le Preneur restera garant et répondra solidairement de son successeur tant du paiement des</span></div>
<div style="position:absolute;left:42.51px;top:685.64px" class="cls_003"><span class="cls_003">loyers que de l’entière exécution des conditions du bail pendant une durée de trois (ans) à compter de la cession.</span></div>
<div style="position:absolute;left:42.51px;top:716.10px" class="cls_003"><span class="cls_003">Le Bailleur devra informer le cédant de tout défaut de paiement du locataire dans le délai d’un mois à compter de la date à</span></div>
<div style="position:absolute;left:42.51px;top:737.34px" class="cls_003"><span class="cls_003">laquelle la somme aurait dû être acquittée par celui-ci.</span></div>
<div style="position:absolute;left:42.51px;top:767.80px" class="cls_002"><span class="cls_002">ARTICLE 10 - CLAUSE RÉSOLUTOIRE</span></div>
<div style="position:absolute;left:530.32px;top:804.14px" class="cls_005"><span class="cls_005">11 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:9372px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background12.jpg" width=595 height=842></div>
<div style="position:absolute;left:42.51px;top:51.75px" class="cls_003"><span class="cls_003">10.1. A défaut par le Preneur d’exécuter une seule des charges et conditions du présent bail, lesquelles sont toutes de</span></div>
<div style="position:absolute;left:42.51px;top:73.00px" class="cls_003"><span class="cls_003">rigueur, ou à défaut de paiement d’un seul terme de loyer, accessoires et charges à leur échéance, des arriérés de loyers et</span></div>
<div style="position:absolute;left:42.51px;top:94.24px" class="cls_003"><span class="cls_003">du complément du dépôt de garantie après révision du loyer ou encore de celui des intérêts de retard et des frais des actes</span></div>
<div style="position:absolute;left:42.51px;top:115.49px" class="cls_003"><span class="cls_003">extrajudiciaires, le présent bail sera résilié de plein droit si bon semble au Bailleur et sans aucune formalité judiciaire, un mois</span></div>
<div style="position:absolute;left:42.51px;top:136.74px" class="cls_003"><span class="cls_003">après un simple commandement ou une simple sommation rappelant expressément la présente clause résolutoire restés</span></div>
<div style="position:absolute;left:42.51px;top:157.99px" class="cls_003"><span class="cls_003">sans effet durant ce délai.</span></div>
<div style="position:absolute;left:42.51px;top:188.44px" class="cls_003"><span class="cls_003">Si le Preneur refusait de libérer les Lieux Loués, il suffirait pour l’y contraindre d’une simple ordonnance de référé rendue par</span></div>
<div style="position:absolute;left:42.51px;top:209.69px" class="cls_003"><span class="cls_003">Monsieur le Président du Tribunal de Grande Instance du lieu de situation de l’immeuble, le Preneur acceptant que</span></div>
<div style="position:absolute;left:42.51px;top:230.94px" class="cls_003"><span class="cls_003">l’ordonnance soit exécutoire sur minute et nonobstant appel.</span></div>
<div style="position:absolute;left:42.51px;top:261.39px" class="cls_003"><span class="cls_003">10.2. En cas d'inobservation par le Preneur des obligations à sa charge, le Bailleur aura la faculté distincte, quinze jours</span></div>
<div style="position:absolute;left:42.51px;top:282.64px" class="cls_003"><span class="cls_003">après une simple notification par lettre recommandée avec accusé de réception restée sans effet, de faire exécuter</span></div>
<div style="position:absolute;left:42.51px;top:303.89px" class="cls_003"><span class="cls_003">l'obligation méconnue par toute entreprise de son choix, aux frais, risques et périls du Preneur.</span></div>
<div style="position:absolute;left:42.51px;top:334.34px" class="cls_003"><span class="cls_003">Les frais en résultant s'ajouteront de plein droit au premier terme suivant.</span></div>
<div style="position:absolute;left:42.51px;top:364.80px" class="cls_003"><span class="cls_003">10.3. A défaut de paiement de quelques sommes restant dues en vertu du présent bail ou de ses suites, le montant de</span></div>
<div style="position:absolute;left:42.51px;top:386.05px" class="cls_003"><span class="cls_003">chaque échéance restant en tout ou partie impayé sera, à l’expiration d’un délai de quinze jours à compter d’une mise en</span></div>
<div style="position:absolute;left:42.51px;top:407.29px" class="cls_003"><span class="cls_003">demeure de payer lesdites sommes, majoré de 10 O à titre de pénalités, sans préjudice de l’application éventuelle de la</span></div>
<div style="position:absolute;left:42.51px;top:428.54px" class="cls_003"><span class="cls_003">clause résolutoire.</span></div>
<div style="position:absolute;left:42.51px;top:459.00px" class="cls_003"><span class="cls_003">De convention expresse, cette pénalité s’appliquera de plein droit à l’expiration du délai mentionné ci-dessus.</span></div>
<div style="position:absolute;left:42.51px;top:489.45px" class="cls_003"><span class="cls_003">10.4. En cas de maintien dans les Lieux Loués du Preneur après résiliation de plein droit ou judiciaire ou expiration du bail</span></div>
<div style="position:absolute;left:42.51px;top:510.70px" class="cls_003"><span class="cls_003">pour quelque cause que ce soit, l'indemnité d'occupation à la charge du Preneur sera établie forfaitairement sur la base du</span></div>
<div style="position:absolute;left:42.51px;top:531.95px" class="cls_003"><span class="cls_003">loyer global de la dernière année de location majoré de 50 O, outre tous accessoires du loyer.</span></div>
<div style="position:absolute;left:42.51px;top:562.40px" class="cls_002"><span class="cls_002">ARTICLE 11 - DROIT DE PRÉFÉRENCE DU PRENEUR</span></div>
<div style="position:absolute;left:42.51px;top:596.40px" class="cls_003"><span class="cls_003">Il n’est pas prévu un droit de préférence à l’égard du Preneur dans le cas où les Lieux Loués seraient vendus.</span></div>
<div style="position:absolute;left:42.51px;top:626.86px" class="cls_002"><span class="cls_002">ARTICLE 12 - CLAUSES ENVIRONNEMENTALES</span></div>
<div style="position:absolute;left:42.51px;top:658.02px" class="cls_004"><span class="cls_004">12.1. État des risques naturels et technologiques</span></div>
<div style="position:absolute;left:42.51px;top:691.31px" class="cls_003"><span class="cls_003">Le Bailleur a communiqué au Locataire qui le reconnaît un Etat des Risques Naturels et Technologiques du périmètre dans</span></div>
<div style="position:absolute;left:42.51px;top:712.55px" class="cls_003"><span class="cls_003">lequel sont situés les Lieux Loués, conformément aux dispositions des articles L125-5 et R125-26 du code de</span></div>
<div style="position:absolute;left:42.51px;top:733.80px" class="cls_003"><span class="cls_003">l’environnement.</span></div>
<div style="position:absolute;left:42.51px;top:764.26px" class="cls_003"><span class="cls_003">Le Bailleur déclare qu’à sa connaissance les Lieux Loués n’ont pas fait objet d’une indemnisation en application des articles</span></div>
<div style="position:absolute;left:530.32px;top:804.14px" class="cls_005"><span class="cls_005">12 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:10224px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background13.jpg" width=595 height=842></div>
<div style="position:absolute;left:42.51px;top:42.54px" class="cls_003"><span class="cls_003">L 125-2 du code des assurances (indemnisation au titre des catastrophes naturelles) ou L 128-2 du code des assurances</span></div>
<div style="position:absolute;left:42.51px;top:63.79px" class="cls_003"><span class="cls_003">(indemnisation au titre des risques technologiques).</span></div>
<div style="position:absolute;left:42.51px;top:94.24px" class="cls_003"><span class="cls_003">Le Locataire déclare faire son affaire personnelle de cette situation sans recours contre le Bailleur.</span></div>
<div style="position:absolute;left:42.51px;top:121.87px" class="cls_004"><span class="cls_004">12.2 Diagnostic de Performance Energétique (DPE)</span></div>
<div style="position:absolute;left:42.51px;top:155.15px" class="cls_003"><span class="cls_003">Un diagnostic de performance énergétique a été établi, à titre informatif, conformément aux dispositions des articles L 134-1</span></div>
<div style="position:absolute;left:42.51px;top:176.40px" class="cls_003"><span class="cls_003">et suivants du code de la construction et de l’habitation et a été communiqué au Locataire.</span></div>
<div style="position:absolute;left:42.51px;top:204.02px" class="cls_004"><span class="cls_004">12.3 Constat de risque d'ex@osition au @lomb (CREP)</span></div>
<div style="position:absolute;left:42.51px;top:237.31px" class="cls_003"><span class="cls_003">L’immeuble dans lequel sont situés les Lieux Loués ayant été construit avant le 1er janvier 1949, il entre donc dans le champ</span></div>
<div style="position:absolute;left:42.51px;top:258.56px" class="cls_003"><span class="cls_003">d’application des dispositions de l’article L 1334-7 du code de la santé publique et des articles suivants.</span></div>
<div style="position:absolute;left:42.51px;top:289.01px" class="cls_003"><span class="cls_003">Le Bailleur a communiqué au Locataire qui le reconnaît un Constat de risques d’exposition au plomb relatif à l’immeuble dans</span></div>
<div style="position:absolute;left:42.51px;top:310.26px" class="cls_003"><span class="cls_003">lequel se trouvent les Lieux Loués (Annexe).</span></div>
<div style="position:absolute;left:42.51px;top:337.88px" class="cls_004"><span class="cls_004">12.4 Diagnostic amiante</span></div>
<div style="position:absolute;left:42.51px;top:371.17px" class="cls_003"><span class="cls_003">L’immeuble dans lequel sont situés les Lieux Loués ayant été construit avant le 1er juillet 1997, le Bailleur a communiqué au</span></div>
<div style="position:absolute;left:42.51px;top:392.42px" class="cls_003"><span class="cls_003">Locataire qui le reconnaît un constat mentionnant la présence ou, le cas échéant, l'absence de matériaux ou produits de la</span></div>
<div style="position:absolute;left:42.51px;top:413.67px" class="cls_003"><span class="cls_003">construction contenant de l'amiante. Le Preneur en fait son affaire personnelle.</span></div>
<div style="position:absolute;left:42.51px;top:444.12px" class="cls_002"><span class="cls_002">ARTICLE 13 - FRAIS</span></div>
<div style="position:absolute;left:42.51px;top:478.12px" class="cls_003"><span class="cls_003">Tous les frais, droits et honoraires du présent acte ainsi que ceux qui en seraient la suite ou les conséquences, sont à la</span></div>
<div style="position:absolute;left:42.51px;top:499.37px" class="cls_003"><span class="cls_003">charge du Preneur qui s’y oblige expressément.</span></div>
<div style="position:absolute;left:42.51px;top:529.82px" class="cls_002"><span class="cls_002">ARTICLE 14 - ELECTION DE DOMICILE</span></div>
<div style="position:absolute;left:42.51px;top:563.82px" class="cls_003"><span class="cls_003">Pour l’exécution des présentes, les parties font élection au domicile de :</span></div>
<div style="position:absolute;left:42.51px;top:594.28px" class="cls_003"><span class="cls_003">- le Bailleur : en son adresse indiquée en tête des présentes</span></div>
<div style="position:absolute;left:42.51px;top:624.73px" class="cls_003"><span class="cls_003">- le Preneur : dans les Lieux Loués.</span></div>
<div style="position:absolute;left:42.51px;top:655.19px" class="cls_002"><span class="cls_002">ARTICLE 15 - ANNEXES</span></div>
<div style="position:absolute;left:42.51px;top:689.18px" class="cls_003"><span class="cls_003">Sont annexés au présent bail :</span></div>
<div style="position:absolute;left:70.84px;top:710.43px" class="cls_003"><span class="cls_003">Le cas échéant règlement de copropriété</span></div>
<div style="position:absolute;left:70.84px;top:731.68px" class="cls_003"><span class="cls_003">Le cas échéant règlement intérieur</span></div>
<div style="position:absolute;left:70.84px;top:752.93px" class="cls_003"><span class="cls_003">Etat des lieux</span></div>
<div style="position:absolute;left:70.84px;top:774.17px" class="cls_003"><span class="cls_003">Etat des risques naturels et technologiques</span></div>
<div style="position:absolute;left:530.32px;top:804.14px" class="cls_005"><span class="cls_005">13 /14</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:11076px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="ab4db550-edf9-11ea-8b25-0cc47a792c0a_id_ab4db550-edf9-11ea-8b25-0cc47a792c0a_files/background14.jpg" width=595 height=842></div>
<div style="position:absolute;left:70.84px;top:45.37px" class="cls_003"><span class="cls_003">Diagnostic de performance énergétique</span></div>
<div style="position:absolute;left:70.84px;top:66.62px" class="cls_003"><span class="cls_003">Le cas échéant, diagnostic amiante</span></div>
<div style="position:absolute;left:70.84px;top:87.87px" class="cls_003"><span class="cls_003">Le cas échéant, constat de risque d’exposition au plomb (CREP)</span></div>
<div style="position:absolute;left:70.84px;top:109.12px" class="cls_003"><span class="cls_003">Le cas échéant, note écrite sur les causes des sinistres ayant donné lieu au versement d’une indemnité d’assurance</span></div>
<div style="position:absolute;left:70.84px;top:130.36px" class="cls_003"><span class="cls_003">garantissant les risques de catastrophes naturelles et/ou technologiques</span></div>
<div style="position:absolute;left:70.84px;top:151.61px" class="cls_003"><span class="cls_003">Le cas échéant, si la supérficie des locaux est supérieure à 2000 m², annexe environnementale</span></div>
<div style="position:absolute;left:42.51px;top:182.07px" class="cls_003"><span class="cls_003">Fait à ____________________ en ________________ exemplaires originaux,</span></div>
<div style="position:absolute;left:42.51px;top:212.52px" class="cls_003"><span class="cls_003">Le ________________</span></div>
<div style="position:absolute;left:42.51px;top:334.34px" class="cls_003"><span class="cls_003">_______________</span></div>
<div style="position:absolute;left:42.51px;top:364.80px" class="cls_003"><span class="cls_003">Le(s) Bailleur(s)</span></div>
<div style="position:absolute;left:42.51px;top:486.62px" class="cls_003"><span class="cls_003">_______________</span></div>
<div style="position:absolute;left:42.51px;top:517.07px" class="cls_003"><span class="cls_003">Le(s) Preneur(s)</span></div>
<div style="position:absolute;left:42.51px;top:638.90px" class="cls_003"><span class="cls_003">Paraphez chaque page du contrat</span></div>
<div style="position:absolute;left:530.32px;top:804.14px" class="cls_005"><span class="cls_005">14 /14</span></div>
</div>

</body>
</html>
