<!DOCTYPE html>
<html>
<body>

  <header class="user-header">
    <div class="container flex-row">
      <div class="logo_header">
      <img src="https://logopond.com/logos/72617797fe9a821f33cecd740a5f9bf8.png" alt="Le logo" class="img_header" />
      </div>
      <div class="btn-group buts" role="group">
        <button type="button" class="btn btn-outline-primary">Profil</button>
        <button type="button" class="btn btn-outline-primary">Annonces</button>
      </div>
    </div>
  </header>

<div class="row justify-content-center">
<div class="card justify-content-center" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-center"><h4>Année de Création</h4>
      <span class="text-center">2017</span>
    </li>
        <li class="list-group-item text-center"><h4>Nombre de collaborateurs</h4>
      <span class="text-center">32</span>
    </li>
        <li class="list-group-item text-center"><h4>Age moyen</h4>
      <span class="text-center">27 ans</span>
    </li>
  </ul>
</div>
</div>

<section class="al-content-block articles">
    <div class="container">
        <div class="row al-content-block-row">
            <div class="col-lg-6">
                <div class="al-img-block d-flex align-items-center h-100">
                    <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" height="270" width="430">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="al-txt-block">
                    <h2 class="mb-3">Qui sommes-nous ?</h2>
                    <p class="text-justify">
                        Fondée en 2017 par les Français Olivier et Alexis, INHOUSE est une scale-up américaine basée à New York, Boston, Paris et Dublin. L’entreprise propose une plateforme SaaS de monitoring des infrastructures cloud et applications pour les entreprises. L’idée est de faciliter la collaboration entre le développement et les équipes opérationnelles, accélérer les cycles de développement et réduire les coûts liés aux opérations et à l’innovation.
Nous avons une forte empathie et une identification avec les end-users pendant que nous utilisons notre propre produit tous les jours.</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>








<div class="">
  <ul>
    <h4>Année de Création</h4>
    <span>2017</span>
    <h4>Nombre de collaborateurs</h4>
    <span>32</span>
    <h4>Age moyen</h4>
    <span>27 ans</span>
  </ul>
</div>
</div>




</body>
</html>
