<!DOCTYPE html>
<html>
<body>

  <header class="user-header">
    <div class="container flex-row">
      <div class="logo_header">
      <img src="https://logopond.com/logos/72617797fe9a821f33cecd740a5f9bf8.png" alt="Le logo" class="img_header" />
      </div>
      <div class="btn-group buts" role="group">
        <button type="button" class="btn btn-outline-primary">Profil</button>
        <button type="button" class="btn btn-outline-primary">Annonces</button>
      </div>
    </div>
  </header>

</body>
</html>
