<!DOCTYPE html>
<html>
<body>

  <header class="user-header">
    <div class="container flex-row">
      <div class="logo_header">
      <img src="https://logopond.com/logos/72617797fe9a821f33cecd740a5f9bf8.png" alt="Le logo" class="img_header" />
      </div>
      <div class="btn-group buts" role="group">
        <button type="button" class="btn btn-outline-primary">Profil</button>
        <button type="button" class="btn btn-outline-primary">Annonces</button>
      </div>
    </div>
  </header>

<section class="d-flex al-content-block articles">
<div class="container">
<div class="row al-content-block-row">
<div class="col-lg-5">
<div class="al-img-block d-flex align-items-center h-100">
  <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
</div>
</div>


<div class="">
  <ul>
    <h4>Année de Création</h4>
    <span>2017</span>
    <h4>Nombre de collaborateurs</h4>
    <span>32</span>
    <h4>Age moyen</h4>
    <span>27 ans</span>
  </ul>
</div>
</div>


<div class="col-lg-6">
<div class="al-txt-block">
<h2 class="mb-3">Web Developer</h2>
<p>Web development is the work involved in developing a Web site for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing a simple single static page of plain text to complex Web-based Internet applications (Web apps), electronic businesses, and social network services. A more comprehensive list of tasks to which Web development commonly refers, may include Web engineering, Web design, Web content development, client liaison, client-side/server-side scripting, Web server and network security configuration, and e-commerce development.
.</p>
</div>
</div>
</div>
</div>
</section>

</body>
</html>
