
<div class="header">
  <div class="header1">
    <div class="row flex-column justify-content-center align-items-start p-5" style="margin: 35px";>
      <h1 class="c10">Trouvez votre parfait colocataire de travail.</br>
      Bienvenue chez <strong class="c11">SUBDESK</strong></h1>
        <span id="banner-typed-text"></span>
        <% if !user_signed_in? %>
        <%= link_to "Je trouve mes bureaux",  user_session_path, class: "btn btn-subdesk" %>
        <% else user_signed_in? %>
        <%= link_to "Je trouve mes bureaux",  offers_path, class: "btn btn-subdesk" %>
        <% end %>
    </div>
  </div>
</div>

<div class="card-body">
  <div class="container">
    <h2 class="mt-5 ">NOS <strong>SERVICES</strong></h2>
    <hr width="30%"/>
    <div class="card-deck" style="margin-top: 40px";>
      <div class="card card-1">
        <div class="card-body text-center">
          <img src="https://img.icons8.com/nolan/96/key.png"/>
          <br><br>
          <h3 class="mt-3"><strong>RECHERCHER</strong></h3>
          <br><br>
          <p class="card-text">La solution idéale pour remplir votre espace de travail vide</p>
        </div>
      </div>
      <div class="card card-2">
        <div class="card-body text-center">
          <img src="https://img.icons8.com/nolan/96/heart-health.png"/>
          <br><br>
          <h3 class="mt-3"><strong>MATCHER</strong></h3>
          <br><br>
          <p class="card-text">Avec l'entreprise qui vous correspond</p>
        </div>
      </div>
      <div class="card card-3">
        <div class="card-body text-center">
          <img src="https://img.icons8.com/nolan/96/helping-hand.png"/>
          <br><br>
          <h3 class="mt-3"><strong>RESERVER</strong></h3>
          <br><br>
          <p class="card-text">Le bureau dont vous avez toujours rêvé</p>
        </div>
      </div>
    </div>

  </div>
</div>


<h2 class="mt-5 ">LES <strong>BUREAUX</strong></h2>
<hr width="30%"/>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 40px">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active", style="background-color:white;">
      <img class="d-block mx-auto mw-90 mh-70" src="https://images.unsplash.com/photo-1553028826-f4804a6dba3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="First slide" style="width: 650px; height: 450px;">
    <div class="carousel-caption d-none d-md-block">
  </div>
    </div>
    <div class="carousel-item", style="background-color:white;">
      <img class="d-block mx-auto mw-90 mh-70" src="https://images.unsplash.com/photo-1556761175-4b46a572b786?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" alt="Second slide" style="width: 650px; height: 450px;">
    <div class="carousel-caption d-none d-md-block">
  </div>
    </div>
    <div class="carousel-item", style="background-color:white;">
      <img class="d-block mx-auto mw-90 mh-70" src="https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Third slide" style="width: 650px; height: 450px;">
    <div class="carousel-caption d-none d-md-block">
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="al-content-block articles">
  <div class ="pt-3 pb-5 mx-5">
    <h2 class="mt-5 ">POURQUOI <strong>SOUS-LOUER ?</strong></h2>
    <hr width="30%"/>
    <div class="col-lg-6">
    <div class="al-txt-block text-justify" style="margin-top: 40px">
    <p>
    Aujourd’hui, la société favorise une économie plus collaborative, d’où le fait que des concepts comme celui du coworking connaissent une demande accrue. De sucroît, elle dispose de nombreuses ressources sous-utilisées puisque le monde du travail change et adopte désormais des solutions plus flexibles, plus temporaires.

    Par exemple, prenons une jeune entreprise qui veut tester sa zone de chalandise et ne veut donc pas s’engager dans un bail commercial directement pour éviter un engagement à long terme. Elle souhaite alors un bureau à louer pour une courte durée. En parallèle, des études montrent qu’environ 40% des postes de travail à Paris sont inoccupés. Ces espaces vacants peuvent donc être déclarés comme étant disponibles à la location afin de rentabiliser l’espace et de constituer un complément de revenu pour les entreprises. Ainsi dans le cas de la jeune entreprise à la recherche de flexibilité, la situation est idéale pour lui permettre de tester si placer ses locaux dans telle ou telle zone géographique lui sera favorable.

    D’autre part, la sous-location peut également être envisagée pour combler une fin de bail en cas de déménagement prévu avant la clôturation du contrat de location.
    </p>
    </div>
  </div>
</section>


<section class="al-content-block articles">
  <div class ="pt-3 pb-5 mx-5">
    <h2 class="mt-2 ">LES <strong>AVANTAGES ?</strong></h2>
    <hr width="30%"/>
    <div class="col-lg-6">
    <div class="al-txt-block text-justify" style="margin-top: 40px">
    Comme évoqué ci-dessus, l’avantage premier est l’échange de services. Ce partage de ressources permet en conséquent aux 2 parties de réaliser des économies en divisant loyer et charges via un fonctionnement relativement simple dû à la souplesse du contrat.

    Cependant, au delà des aspects pratiques et financiers notables autant pour le locataire que pour son sous-locataire, de réelles synergies peuvent émerger : en choisissant méthodiquement son ou ses sous-locataires, des collaborations peuvent naître, arrangeant là encore bailleur et locataire. En effet, en sous-louant vos bureaux à plusieurs entreprises, cette colocation professionnelle peut permettre la formation d’un véritable réseau.
    </p>
    </div>
    </div>
</section>


<div class="card-body">
  <div class="container">
    <h2 class="mt-5 ">NOS <strong>CLIENTS</strong></h2>
    <hr width="30%"/>
    <div class="card-deck" style="margin-top: 40px";>

      <div class="d-flex">
          <div class="container align-items-center justify-content-center row">
              <div class="card promoting-card d-flex" style="width: 350px; border-radius: 10px;">

                    <!-- Card image -->
                    <div class="view overlay">
                      <img src="https://i.f1g.fr/media/figaro/616x347_crop/2018/01/04/XVM4408ef38-f070-11e7-9096-73ddd6499d95.jpg" class="imagecard", style="border-radius: 10px;">
                    <p class="text-center badge badge-pil">Matching: 80%</p>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">
                      <div class="collapse-content">
                          <!-- Text -->
                      <div class="d-flex justify-content-between">
                        <h4 class="font-weight-bold mb-2">Doctolib</h4>
                        <p><i class="fas fa-male"></i>51</p>
                      </div>
                        <p>42 Rue Damrémont, Paris</p>

                         <!-- Button -->
                        <div class="float-right">
                            <span class="price">
                                <span class="currency">440€</span>
                                <span class="month">/MOIS</span>
                            </span>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>

      <div class="d-flex">
          <div class="container align-items-center justify-content-center row">
              <div class="card promoting-card d-flex" style="width: 350px; border-radius: 10px;">

                    <!-- Card image -->
                    <div class="view overlay">
                      <img src="https://www.startupbegins.com/wp-content/uploads/2018/05/PayFit-001-900x596.jpg" class="imagecard", style="border-radius: 10px;">
                    <p class="text-center badge badge-pil">Matching: 80%</p>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">
                      <div class="collapse-content">
                          <!-- Text -->
                      <div class="d-flex justify-content-between">
                        <h4 class="font-weight-bold mb-2">Payfit</h4>
                        <p><i class="fas fa-male"></i>46</p>
                      </div>
                        <p>76 Rue Cardinet, Paris</p>

                         <!-- Button -->
                        <div class="float-right">
                            <span class="price">
                                <span class="currency">820€</span>
                                <span class="month">/MOIS</span>
                            </span>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>

      <div class="d-flex">
          <div class="container align-items-center justify-content-center row">
              <div class="card promoting-card d-flex" style="width: 350px; border-radius: 10px;">

                    <!-- Card image -->
                    <div class="view overlay">
                      <img src="https://www.iscom.fr/images/WTJ.jpg" class="imagecard", style="border-radius: 10px;">
                    <p class="text-center badge badge-pil">Matching: 60%</p>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">
                      <div class="collapse-content">
                          <!-- Text -->
                      <div class="d-flex justify-content-between">
                        <h4 class="font-weight-bold mb-2">Welcome to the Jungle</h4>
                        <p><i class="fas fa-male"></i>40</p>
                      </div>
                        <p>16 Rue du Mail, Paris</p>

                         <!-- Button -->
                        <div class="float-right">
                            <span class="price">
                                <span class="currency">720€</span>
                                <span class="month">/MOIS</span>
                            </span>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>

    </div>

  </div>
</div>





