.carousel {
  background-color: #eff0f4;
  padding: 21px;
}

.hearder.h2 {
font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgba(0,0,0,0.0);
  text-align: center;
  color: #3f3f44;
}

