.container-booking {
  width: 85%;
  margin: auto;
;
}

.bodycard {
  display: flex;
  justify-content: space-between;
}

.btn-part{
  width:18%;
  display: flex;
  flex-direction: column;
  justify-content: right;

  .btn {
width: max;
  };
  .btn-sm{
width:max;
  };
}

.card-content {
  flex-grow: 0.9;
}

