.btn-subdeskchatroom {
  background: $light-gray;
  color: $purple;
  &:hover {
    background:$purple;
    color:$light-gray;
  }

}

.btn-subdesk {
  background: $purple;
  padding: 15px 30px;
  color: white !important;
  font-size: 20px;
  border-radius: 4px;
  &:hover {
    background: #6b71ff;
  }
}


.btn-subdesk-2 {
  background: $purple;
  padding: 15px 30px;
  color: white !important;
  font-size: 16px;
  border-radius: 4px;
  &:hover {
    background: #6b71ff;
  }
}

.btn-subdesk-sec {
  background: #878CFF;
  border-color: #878CFF;
  color: white !important;
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 4px;
  margin-right: 20px;
  &:hover {
    background-color:white;
    border: 2px solid #6b71ff;
    color: #6b71ff !important;
  }
}


.btn-subdesk-3 {
  background: transparent;
  border-color: #878CFF;
  padding: 15px 30px;
  color: #878CFF !important;
  font-size: 15px;
  border-radius: 4px;
  margin-right: 20px;
  &:hover {
    background-color: #6b71ff;
    color: white !important;
  }
}


