.btn-subdesk {
  background: $purple;
  padding: 15px 30px;
  color: white !important;
  font-size: 20px;
  border-radius: 4px;
  &:hover {
    background: #6b71ff;
  }
}

.btn-subdesk-sec {
  background: #6b71ff;
  border-color: #6b71ff;
  color: white !important;
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 4px;
  margin-right: 20px;
  &:hover {
    background-color:white;
    border: 2px solid #6b71ff;
    color: #6b71ff !important;
  }
}

.btn-subdesk-2 {
  background: transparent;
  padding: 15px 30px;
  color: white !important;
  font-size: 15px;
  border-radius: 4px;
  &:hover {
    background: transparent;
    color: white !important;
    opacity: 0.8;
  }
}


.btn-subdesk-3 {
  background: transparent;
  border-color: #6b71ff;
  padding: 15px 30px;
  color: #6b71ff !important;
  font-size: 15px;
  border-radius: 4px;
  margin-right: 20px;
  &:hover {
    background-color: #6b71ff;
    color: white !important;
  }
}


