.imagecard {
  width: 100%;
}
.view .overlay {
  width: 100%;
  height: 230px;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
  .collapse-content {
      text-align: left;
  }
  .float-left {
      font-size: 20px;
      font-weight: 500;
  }


}
.container a {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
  }
}
p.text-center.badge.badge-pil.badge-danger {
  position: absolute;
  right: 16px;
  top: 15px;
  background-color: white;
  color: red;
}
p.text-center.badge.badge-pil.badge-warning {
  position: absolute;
  right: 16px;
  top: 15px;
  background-color: white;
  color: orange;
}
p.text-center.badge.badge-pil.badge-success {
  position: absolute;
  right: 16px;
  top: 15px;
  background-color: white;
  color: green;
}
span.price {
    display: flex;
    align-items: flex-end;
}


span.price .currency {
    font-family: "Montserrat",sans-serif;
    font-size: 28px;
    font-weight: 300;
    // letter-spacing: 1px;
    padding: 0;
    vertical-align: middle;
    line-height: 28px;
    margin-right: 5px;
}
span.price .month {
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: .6;
}


span.nb-results {
    color: $purple;
    font-size: 35px;
}
.card.promoting-card.mb-5.ml-5.d-flex {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
