.imagecard {
  width: 100%;
}
.view .overlay {
  width: 100%;
  height: 230px;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;

}
.container a {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
  }
}
p.text-center.badge.badge-pil.badge-danger {
  position: absolute;
  right: 16px;
  background-color: white;
  color: red;
}
p.text-center.badge.badge-pil.badge-warning {
  position: absolute;
  right: 16px;
  background-color: white;
  color: orange;
}
p.text-center.badge.badge-pil.badge-success {
  position: absolute;
  right: 16px;
  background-color: white;
  color: green;
}
