footer {
background-color: #232931;
height: 10vh;
}

.btn-fb {
color: #ea5455;
font-size: 20px;
}

.btn-tw {
color: #ea5455;
font-size: 20px;
}

.btn-gplus {
color: #ea5455;
font-size: 20px;
}

.btn-li {
color: #ea5455;
font-size: 20px;
}
