
.map1 {
  height: 100%;
  position: sticky;
  top: 0;
  border-radius: 10px;
}

.mapboxgl-popup {
  max-width: fit-content !important;

}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  padding: 0px;
}
.mapboxgl-popup-content a {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
  }
}
