
.map1 {
  height: 100%;
  position: sticky;
  top: 0;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.mapboxgl-popup {
  max-width: fit-content !important;

}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  padding: 0px;
}
.mapboxgl-popup-content a {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
  }
}
g {
  fill: #878CFF;
}
