.navbar-subdesk {
  justify-content: space-between;
  width: 100%;
  background-color: grey;
}

.navbar-subdesk .navbar-collapse {
  flex-grow: 0;
}

.navbar-subdesk .navbar-brand img {
  width: 40px;
}

