
.cardprofile.container.align-items-center.justify-content-center{
  & {
    .card-product {
      overflow: hidden;
      height: 240px;
      width: 80%;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      display: flex;
      text-align: left;
    }

    .card-product img {
      height: 100%;
      width: 200px;
      object-fit: cover;
      margin-left: 0px;
    }

    .card-product h2 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    .card-product p {
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
    }

    .card-product .card-product1-infos {
      padding: 16px;
    }
  }

}
h4.text-align.pt-3.pl-5 {
    text-align: left;
}
h4.text-align-left.pt-3.pl-5 {
    text-align: left;
}

